*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f2f2;
}

/* navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:white;
    border-bottom:1px solid #ddd;
    position:sticky;
    top:0;
    z-index:1000;
}
.navbar h2{
    color:#007bff;
}
.navbar nav a{
    margin:0 10px;
    text-decoration:none;
    color:black;
    font-size:14px;
}
.navbar nav a:hover{
    color:#007bff;
}

/* hero section styling*/
.hero{
    height:420px;
    background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),
    url("https://www.japanrailpass.com.au/wp-content/uploads/2017/08/Fujiyoshida-Japan-at-Chureito-Pagoda-and-Mt.-Fuji-in-the-spring-with-cherry-blossoms.jpg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    

}

.hero h1{
    font-size:32px;
    font-weight:bold;
}
.hero span{
    color:white; 
}
.hero p{
    width:60%;
    margin:auto;
    font-size:15px;
    margin-top:10px;
}
.hero button{
    margin-top:20px;
    padding:12px 22px;
    border:none;
    background:#ff9d00;
    color:white;
    border-radius:25px;
    cursor:pointer;
}
.hero button:hover{
    background:#e88c00;
}

/* section styling */
.section{
    padding:40px 0;
    width:85%;
    margin:auto;
}
.title{
    text-align:center;
    margin-bottom:25px;
    color:#007bff;
    font-size:22px;
    font-weight:bold;
}

/* styling of destination cards */
.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;
}
.card{
    background:white;
    border-radius:10px;
    padding:10px;
    transition:0.3s;
}
.card img{
    width:100%;
    height:120px;
    border-radius:10px;
    object-fit:cover;
}
.card:hover{
    transform:translateY(-5px);
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

/* packages styling */
.packages{
    display:flex;
    justify-content:space-around;
    gap:20px;
}
.package-box{
    background:#e9f2ff;
    border-radius:10px;
    padding:20px;
    width:30%;
    border:2px solid #007bff;
}
.package-box h4{
    color:#ff6f00;
}
/* How It Works Section */
.how-it-works {
    text-align: center;
    padding: 50px 0;
    background: #f7f9fc;
}

.how-it-works h2 {
    font-size: 28px;
    color: #0077ff;
    margin-bottom: 40px;
}

/* Flexbox Layout */
.hiw-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;   /*  responsive for mobile */
}

/* Card Styling */
.hiw-card {
    background: #ffffff;
    width: 280px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.hiw-card:hover {
    transform: translateY(-5px);
}

/* number badge styling */
.step-number {
    width: 45px;
    height: 45px;
    background: #ffae00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    
}


/* testimonials styling */
.testimonials{
    display:flex;
    justify-content:space-around;
    gap:20px;
}
.testimonial-card{
    background:white;
    width:45%;
    text-align:center;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.testimonial-card img{
    width:70px; height:70px;
    border-radius:50%;
    margin-bottom:10px;
}

/*blogs section styling*/
.blogs-container {
    display: flex;
    justify-content: center; /* centers them horizontally */
    gap: 20px; /* space between cards */
    margin-top: 20px;
}

.blog-card {
    width: 450px;  /* size of each box */
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.blog-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}



/* stats section styling*/
.stats{
    display:flex;
    justify-content:space-around;
    background:#007bff;
    color:white;
    padding:25px;
}
.stats h3{
    font-size:28px;
    font-weight:bold;
}

/* newsletter styling */
.newsletter{
    text-align:center;
    padding:40px;
    background:white;
}
.newsletter input{
    width:40%;
    padding:10px;
    border-radius:20px;
    border:1px solid #007bff;
    margin-top:10px;
}
.newsletter button{
    padding:10px 20px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:20px;
    margin-left:10px;
}

/* contact us  */
.contact-area{
    display:flex;
    justify-content:space-between;
    gap:30px;
}
.contact-form{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.contact-form input,.contact-form textarea{
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
}
.contact-form button{
    background:#007bff;
    padding:10px;
    color:white;
    border-radius:8px;
    border:none;
}
.map-img{
    width:45%;
    border-radius:10px;
}

/* footer */
.footer{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}


@media(max-width:900px){
    .cards{grid-template-columns:1fr 1fr;}
    .packages{flex-direction:column;}
    .package-box{width:100%;}
    .testimonials{flex-direction:column;}
    .testimonial-card{width:100%;}
    .blog-cards{flex-direction:column;}
    .blog-card{width:100%;}
    .contact-area{flex-direction:column;}
    .contact-form, .map-img{width:100%;}
}
@media(max-width:600px)
{
    .cards{grid-template-columns:1fr;}
    .newsletter input{width:80%;}
}

/*html scroll behaviour*/
html {
    scroll-behavior: smooth;
}
